@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Prompt:100,200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');


* {
    padding: 0;
    border: 0;
    margin: 0;
    border-color: #33373a;
}

html {
    height: 100%;
}

body, html {
    height: 100%;
}

/* header {
    height: 95px;
} */

body {
   font-family: Lato;
   /* font-weight: 200; */
}

.container-fluid {
    padding: 0;
}

.bg-light {
    background-color:white!important;
}

/* ---------------------------------------------------  Navbar  ------------------------------------------------ */

.nav-central-links {
    display:inline-block;
    width: 50%;
    position:relative;
    left: 1rem;
}

.central-nav-link {
    display:inline-block;
    text-decoration: none;
    color:rgb(55, 56, 56);
    transition: 0.4s;
    cursor: pointer;
    font-style: normal;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.central-nav-link:hover {
    /* color:#010608; */
    color: rgb(132, 135, 138);
    text-decoration: none;
}

.nav-central-links ul {
    list-style-type: none;
}

.nav-central-links ul li {
    float: left;
}

.nav-link-mobile {
    text-decoration: none;
    color:rgb(55, 56, 56);
    transition: 0.4s;
    cursor: pointer;
    font-style: normal;
    font-size: 18px;
    padding-left: 13px;
}

.dropdown-category .dropdown-menu {
  position: absolute;
  border: 0;
  left: auto;
  display: none;
  z-index: 1;
}

.dropdown-category:hover .dropdown-menu {
    display: block;
}

/* nav div li .shopping-bag {
    position:absolute;
    top: 50px;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
} */

/* nav div ul */

.user-section-large {
    list-style-type: none;
}

.mobile-user-icons {
    position: relative;
    bottom: 8px;
    left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.shopping-bag-small-screens {
    position:relative;
    top: 25px;
    padding-bottom: 3px;
    text-decoration: none;
    color:rgb(55, 56, 56);
    transition: 0.4s;
    cursor: pointer;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 0px;
}

.bag-total {
    position:relative;
    top: 5px;
    right: 20px;
    padding-bottom: 3px;
    text-decoration: none;
    color:rgb(22, 141, 42);
    transition: 0.4s;
    cursor: pointer;
    font-style: normal;
    font-size: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.bag-total:hover {
    text-decoration: none;
}

.fa-shopping-bag {
color:rgb(55, 56, 56);
}

.shopping-bag a div p:hover {
    text-decoration: none;
}

.shopping-bag-small-screens a {
    text-decoration: none;
}

nav div .shopping-bag-large-screen {
    text-decoration: none;
    position:relative;
    top: 24px;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
}

nav div .shopping-bag-large-screen a:hover {
    text-decoration: none;
}

.user-section-large {
    margin: 0;
}

.zero-value {
    color: #ffffff;
}

/* nav div li .fa-shopping-bag {
    padding-left: 10px;
} */

#user-account-dropdown {
    /* padding-left: 4rem; */
    text-align: left;
}

#mobile-user-account-link .dropdown-item {
    position: relative;
    /* right: 58px; */
    border-left: 10px;
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
}

.site-logo {
    color:#c06e2c  !important;  /* !important overrides Bootstrap standard color */ 
    font-size: 2rem; 
}

.mobile-logo {
    color:#c06e2c  !important;  /* !important overrides Bootstrap standard color */ 
    font-size: 2rem; 
    display:inline-block;
    position:relative;
    left: 2.4rem;
}

body header nav div #desktop-search-bar {
    left: 65%;
    width: 35%;
}

.mobile-search-position {
   min-width: 20rem;
}

#desktop-search .central_nav_link {
    padding-left: 10px;
    padding-right: 10px;
}

.test-class {
    /* width: 100%; */
    height: 400px;
    /* padding-top: 50px; */
    color: chocolate;
    /* font-size: 50px; */
    background: crimson;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}


/* -----------------------------------------------  Toasts ---------------------------------------------- */

.message-container {
    position: fixed;
    top: 72x;
    right: 15px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
    z-index: 99999;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* ------------------------------------------------ Home Page -------------------------------------------- */


.carousel-item {
    height: calc(100vh);
}

.perfume-image {
    position: relative;
    top: 90.5px;
    object-fit: cover;
    height: 100%;
}

div #all-products {
    padding-top: 300px;
    color: red;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 60px;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* Home screen text placement on small / mobile phone screen size */

#carousel-caption-1 {
    position: absolute;
    bottom: 370px;
    text-align: center;
}

#carousel-caption-2 {
    position: absolute;
    bottom: 400px;
    text-align: center;
}

#carousel-caption-3{
    position: absolute;
    bottom: 400px;
    text-align: center;
}

#carousel-caption-1 h6 {
    width: 600px;
    text-align: center;
}

#carousel-caption-2 h4 {
    position: relative;
    bottom: 11px;
}

.home-button-section {
    position: relative;
    top: 350px;
}

#carousel-caption-1 .btn-home-mobile {
    position: relative;
    top: 320px;
    color:white;
    border: 2px solid rgb(206, 202, 202);
    border-radius:0.3em;
    padding: 10px;
    background: rgb(84, 87, 78);
    font-size: 400;
    width: 120px;
}

#carousel-caption-2 .btn-home-mobile {
    position: relative;
    top: 350px;
    color: white;
    border: 2px solid rgb(206, 202, 202);
    border-radius:0.3em;
    padding: 10px;
    background: rgb(84, 87, 78);
    font-size: 400;
    width: 120px;
}

#carousel-caption-3 .btn-home-mobile {
    position: relative;
    top: 350px;
    color: white;
    border: 2px solid rgb(206, 202, 202);
    border-radius:0.3em;
    padding: 10px;
    background: rgb(84, 87, 78);
    font-size: 400;
    width: 120px;
  
}
 
/* ---------------------------------------------    Product Detail Page --------------------------------------------*/

.product-details-hr {
    position: relative;
    display: block;
    top: 70px;
}

.black-background {
    position: relative;
    top: 50px;
    height: 45px;
    background: black;
    color: white;
    font-size: 14px;
    padding-top: 15px;
    border-bottom: 15px;
    padding-bottom: 15px;
}

.black-background .row div {
    
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Lato;
    font-weight: 200;
}

.fashion {
    position: relative;
    right: 1rem;
}

.black-links {
    position: relative;
    left: 6px;
}

.black-links li {
    display: inline;
    margin-left: 12px;
    margin-right: 12px;
    /* text-align: center; */
    text-decoration: none;
    color:#ffffff;
    /* transition: 0.4s; */
    cursor: pointer;
    transition: 0.3s;
}

.black-links li:hover {
    text-decoration: none;
    color:#dfd7d7;
}

.black-links a {
    text-decoration: none;
    color:#ffffff;
}

#size-selector .dropdown-toggle::after{
    margin-left: 8.75em;    
}

.size-selector-btn {
    width:100%;
    height: 2rem;
    border-bottom: 3rem;
    background: #fafafa;
    color: #33373a;
    border: 1px solid black;
    border-radius: 2px;
}

.size-selector-btn input {
    height: 40px;
}

.add-to-bag-btn {
    width:100%;
    height: 2rem;
    background: rgb(126, 170, 126);
    color: #fafafa;
    border: 1px solid black;
    border-radius: 2px;
}



.size-option {
    background: #fafafa;
    color: rgb(55, 56, 56);
}

/* .size-option::selection {
    background: #fafafa;
    color: rgb(55, 56, 56);
} */

.write-review-btn {
    width:100%;
    height: 2rem;
    background: #703f11;
    color: #fafafa;
    border: 1px solid black;
    border-radius: 2px;   
}
/* Products Page */

.products-page-links {
    text-decoration: none;
    color:rgb(55, 56, 56);
    /* transition: 0.4s; */
    cursor: pointer;
    /* font-style: normal;
    font-size: 18px;
    padding-left: 13px; */
}

.products-page-links:hover {
    text-decoration: none;
    color:rgb(55, 56, 56);
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.review-divider {
    width: 100%;
    height: 10px;
    background: #bebfc0;
    
}

.review {
    background-color: #ffffff;
}

.no-reviews {
    position: relative;
    top: 25px;
    left: 20px;
    z-index: -2;
}

.review-box {
    border-width: 2px;
    border-style: solid;
    height: 20rem;
    width: 35rem;
}

.review-section {
    font-size: 20px;
}

/* ------------------------------------------------  Shopping Bag page --------------------------------------------*/

.empty-bag {
    width: 90%;
    /* height: 3rem; */
    background: #f7f7f7;
    margin-top: 1rem;
    font-size: 17px;
    text-align: center;
    position: relative;
    left: 5%;
    padding-top: 6.5%;
    padding-bottom: 3.5%;
    /* margin-top: 2%; */
    /* border-left: 10%; */
}

.checkout-button {
    width:94%;
    background-color: rgb(126, 170, 126);
    color: #ffffff;
    border: #343a40;
    border-width: 2px;
    border-style: solid;
}

.checkout-btn-medium {
    position: relative;
    top: 8px;
    right: 15px;
    background-color: rgb(126, 170, 126);
    color: #ffffff;
    border: #343a40;
    border-width: 2px;
    border-style: solid;
    
}

.shopping-bag-items {
    background: gainsboro;
}

.shopping-bag-hr {
    width: 94%;
    padding-left: 5%;
    padding-top: 1rem;
    padding-bottom: 0.1rem;
}

.quantity-selector {
    border-width: 2px;
    border: gray;
    border-style: double;
}

/* Product Detail page, text placement on mobile screen size */

@media screen and (max-device-width : 576px) {
.fashion {
    position: relative;
    right: 0;
}
}

/* ----------------------------------------------------- Allauth form formatting --------------------------------------------------------*/

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* ------------------------------------------------------------   Responsiveness Settings   ------------------------------------------------- */

/* Home screen text placement on tablet screen size */

@media screen and (min-device-width : 700px) {
.mobile-logo {
    color:#c06e2c  !important;  /* !important overrides Bootstrap standard color */ 
    font-size: 2rem; 
    display:inline-block;
    position:relative;
    left: 3.2rem;
}

#carousel-caption-1 {
    position: absolute;
    bottom: 720px;
    text-align: center;
}

#carousel-caption-2 {
    position: absolute;
    bottom: 740px;
    text-align: center;
}

#carousel-caption-3 {
    position: absolute;
    bottom: 730px;
    text-align: center;
}

.carousel-caption h1, h2, h3 {
    font-size: 56px;
}

#carousel-caption-2 h4 {
    position: relative;
    bottom: 14px;
}

#carousel-caption-3 h5 {
    font-size: 26px;
}

#carousel-caption-1 .btn-home-mobile {
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 700px;
    color:white;
    border: 2px solid rgb(206, 202, 202);
    border-radius:0.3em;
    padding: 10px;
    background: rgb(84, 87, 78);
    font-size: 400;
    transition: 0.3s;
    
}

#carousel-caption-2 .btn-home-mobile {
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 700px;
    color: white;
    border: 2px solid rgb(206, 202, 202);
    border-radius:0.3em;
    padding: 10px;
    background: rgb(84, 87, 78);
    font-size: 400;
}

#carousel-caption-3 .btn-home-mobile {
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 700px;
    color: white;
    border: 2px solid rgb(206, 202, 202);
    border-radius:0.3em;
    padding: 10px;
    background: rgb(84, 87, 78);
}
}
/* Home screen text placement on large / desktop screen size */

@media screen and (min-device-width : 992px) {
    #carousel-caption-1 {
        position: absolute;
        bottom: 350px;
        text-align: center;
        /* color: #33373a; */
    }
    
    #carousel-caption-2 {
        position: absolute;
        bottom: 350px;
        text-align: center;
    }
    
    #carousel-caption-3 {
        position: absolute;
        bottom: 350px;
        text-align: center;
        color: #33373a;
    }
    
    .carousel-caption h1, h2, h3 {
        font-size: 50px;
    }

    .carousel-caption .btn-home-desktop {
        position: relative;
        top: 100px;
        left: 50%;
        width: 120px;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .carousel-caption .btn-home-mobile {
        position: relative;
        top: 300px;
        left: 30%;
        /* -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); */
    }

    /* #carousel-caption-3 .btn-home-desktop {
        position: relative;
        top: 10px; */
        /* background-color: white;
        color: black;
        border: 2px solid grey; 
        padding: 4px; */
    /* } */

    }