{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/eb9cd652a4.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    {% endblock %}

    {% block extra_css %}
    
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src=".../static/javascript/index.js"></script>
    {% endblock %}

    <title>E-volve Home & Fashion {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">

      <!-- Navbar -->

      <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <!-- Placing of 'e-volve' logo on different screen sizes -->
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand ml-auto site-logo d-inline-block d-lg-none mobile-logo" href="{% url 'home' %}">e-volve</a>  <!-- Mobile version -->
        <a class="navbar-brand ml-auto site-logo d-none d-lg-inline-block" href="{% url 'home' %}">e-volve</a>  <!-- Desktop version -->

        <!-- Tablet 'user account' link  -->

        <div class="ml-auto"></div>
          
          <ul class="mobile-user-icons">
            <li id="mobile-user-account-link" class="list-inline-item dropdown">
              <a href="#" id="user-options-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user d-none d-md-block d-lg-none nav-link-mobile shopping-bag-mobile text-center"></i>
              </a>
              <div id="user-account-dropdown" class="dropdown-menu border-0 text-left" aria-labelledby="user-options-mobile">
                  {% if request.user.is_authenticated %}
                      {% if request.user.is_superuser %}
                          <a href="{% url 'account_logout' %}" class="dropdown-item text-left pl-0">Product Management</a>
                      {% endif %}
                      <a href="" class="dropdown-item">My Profile</a>
                      <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                      <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
              </div>
            </li>

            <!-- Mobile / Tablet 'search' and 'shopping bag' links -->

            <li class="list-inline-item">
              <a href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search nav-link-mobile d-lg-none"></i>
              </a>
              <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                  <form class="form" method="GET" action="{% url 'products' %}">
                      <div class="input-group w-100">
                          <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                          <div class="input-group-append">
                              <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                                  <span class="icon">
                                      <i class="fas fa-search"></i>
                                  </span>
                              </button>
                          </div>
                      </div>
                  </form>
              </div>
            </li>

            <li class="list-inline-item d-lg-none shopping-bag-small-screens">
              <i class="fas fa-shopping-bag d-lg-inline-flex text-center"></i>
              <div class="text-center">
                {% if grand_total %}
                  <p>£{{ grand_total|floatformat:2 }}></p>
                {% else %}
                  <p class="zero-value">£0.00</p>
                {% endif %}
              </div>
            </li>

          </div>
        </ul>
        <!-- Mobile burger dropdown links -->
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link d-lg-none" href="{% url 'products' %}?category=fashion">Fashion<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link d-lg-none" href="{% url 'products' %}?category=home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link d-lg-none" href="{% url 'products' %}?category=health_beauty">Beauty<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link d-lg-none" href="{% url 'products' %}?category=cleaning">Cleaning<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link d-lg-none" href="{% url 'products' %}">All Products<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-lg-none" href="#">My Account<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-lg-none disabled" href="#" tabindex="-1" aria-disabled="true">My Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-lg-none disabled" href="#" tabindex="-1" aria-disabled="true">Shopping Bag</a>
            </li>
          </ul>
        </div>

        <!-- Category Links (Large Screens) -->

        <div class="d-none d-lg-inline-block nav-central-links">
          <ul class="">
            <li class="dropdown-category nav-item">
              <a href="{% url 'products' %}?category=fashion">
                <i id="home-products-link" data-toggle="" aria-haspopup="true" aria-expanded="false" class="d-lg-inline-block central-nav-link">Fashion</i>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="fashion-products-link">
                <a href="{% url 'products' %}?category=fashion&sort=price&sort_direction=desc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?category=fashion&sort=name&sort_direction=asc" class="dropdown-item">By Name</a>
              </div>
            </li>
            <li class="dropdown-category nav-item">
              <a href="{% url 'products' %}?category=home">
                <i id="home-products-link" data-toggle="" aria-haspopup="true" aria-expanded="false" class="d-lg-inline-block central-nav-link">Home</i>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="home-products-link">
                <a href="{% url 'products' %}?category=home&sort=price&sort_direction=desc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?category=home&sort=name&sort_direction=asc" class="dropdown-item">By Name</a>
              </div>
            </li>
            <li class="dropdown-category nav-item">
              <a href="{% url 'products' %}?category=health">
                <i id="home-products-link" data-toggle="" aria-haspopup="true" aria-expanded="false" class="d-lg-inline-block central-nav-link">Health</i>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="beauty-products-link">
                <a href="{% url 'products' %}?category=health&sort=price&sort_direction=desc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?category=health&sort=name&sort_direction=asc" class="dropdown-item">By Name</a>
              </div>
            </li>
            <li class="dropdown-category nav-item">
              <a href="{% url 'products' %}">
                <i id="all-products-link" href="" data-toggle="" aria-haspopup="true" aria-expanded="false" class="d-lg-inline-block central-nav-link">All</i>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&sort_direction=desc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&sort_direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}?sort=name&sort_direction=asc" class="dropdown-item">By Name</a>
              </div>
            </li>
          </ul>
        </div>
          
        <!-- Search / User / Shopping Bag Links (Large Screens) -->

        <div>
          <ul class="user-section-large">
            <li class="list-inline-item d-none d-lg-inline-flex">
              <a href="#" id="desktop-search" class="central-nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search d-none d-lg-inline-flex"></i>
              </a>
              <div id="desktop-search-bar" class="dropdown-menu border-0 p-3 rounded-0 my-0 right" aria-labelledby="desktop-search">
                  <form class="form" method="GET" action="{% url 'products' %}">
                      <div class="input-group w-100">
                          <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                          <div class="input-group-append">
                              <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                                  <span class="icon">
                                      <i class="fas fa-search"></i>
                                  </span>
                              </button>
                          </div>
                      </div>
                  </form>
              </div>
            </li>

            <!-- User Account Dropdown -->

            <li id="desktop-user-link" class="list-inline-item dropdown">
              <a href="#" id="user-options-desktop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div>
                  <i class="fas fa-user d-none d-lg-inline-flex central-nav-link"></i>
                </div>
              </a>
              <div class="dropdown-menu border-0 text-left" aria-labelledby="user-options-desktop">
                  {% if request.user.is_authenticated %}
                      {% if request.user.is_superuser %}
                          <a href="{% url 'account_logout' %}" class="dropdown-item text-left pl-0">Product Management</a>
                      {% endif %}
                      <a href="" class="dropdown-item">My Profile</a>
                      <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                      <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
              </div>
            </li>

            <!-- Shopping Bag button -->
            <li class="list-inline-item d-none d-lg-inline-block shopping-bag-large-screen">
              <i class="fas fa-shopping-bag d-lg-inline-flex text-center central-nav-link"></i>
              <div class="text-center">
                {% if grand_total %}
                  <p>£{{ grand_total|floatformat:2 }}></p>
                {% else %}
                  <p class="zero-value">£0.00</p>
                {% endif %}
              </div>
            </li>
          </ul>
        </div>
          
      
      </nav>    

    </header>

    {% if messages %}
        <div class="message-container">
            Message Container goes here
        </div>
    {% endif %}

    <!-- <div class="test-class">
      <h2 class="test-class-2">
          Test Section
      </h2>
    </div> -->
    
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}

    <script src="../static/javascript/index.js"></script>
   
      
{% endblock %}

  </body>
</html>